<div class="text-xs-left">
<h2 class="page-title">History</h2>
<a href="/admin" class="btn btn-primary">Go Back</a>
<br><br>

<table class="table table-inverse table-striped">

    <thead class="table-inverse">
        <tr>
            <th>History</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each purchase}}
        <tr>
            <td><a href="/admin/history/{{this.id}}" class="btn btn-primary">{{this.buyer}}</a></td>
            <td>{{this.title}}</td>

            <td>{{this.quantity}}</td>
            <td>{{this.date}}</td>
            <td><a class="cat btn btn-info" href="/admin/history/edit-history/{{this._id}}">Edit</a></td>

            <td><a class="confirmDeletion cat btn btn-info" href="/admin/history/delete-history/{{this._id}}">Delete</a></td>
        </tr>
       {{/each}}
    </tbody>
</table>
</div>