<div class="row">

    <div class="col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/products">All products</a>
            </li>
            <!-- loop through categories and link to category -->
            {{#each categories}}
            <!-- pull slug and title for li and href -->
            <li class="list-group-item">
                <a href="/products/{{this.slug}}">
                    {{this.title}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>




    <!-- Product Image display -->
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-5">
        
        <h3>{{this.title}}</h3>
        <br>
        <img class="spi" src="/product_images/{{p.id}}/{{p.image}}" alt="">
        <br>
    </div>
    <div class="col-xs-12 col-md-3">
        <br>
        <h3>Gallery</h3>
        <ul class="gallery">
            {{#each galleryImages}} {{#ifCond this '!=' "thumbs"}}

            <li>
                <a data-fancybox="gallery" href="/product_images/{{../p.id}}/gallery/{{this}}">
                    <img src="/product_images/{{../p.id}}/gallery/thumbs/{{this}}" alt="">
                </a>
            </li>
            {{/ifCond}} {{/each}}
        </ul>
    </div>
    
    <!-- Product description and price -->
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-xs-12 col-md-4"></div>
    <div class="col-xs-12 col-md-5">
        <table class="table alignmiddle">

            <thead>
                <tr class="home">
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tr class="home">
                <td>{{p.desc}}</td>
                <td>${{toFixed p.price}}</td>
            </tr>
        </table>
        <p>
            {{#if currentUser}}
            <a class="btn btn-info add" href="/cart/add/{{p.slug}}">Add to cart</a>
            {{/if}}
        </p>
    </div>
    
    <!--
    * Reference for gallery setup/fancybox
    * author: Vojislav Kovacevic
    * 2017
    -->
    <hr>

    
</div>
</div>